* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(212, 212, 238);
}

.scorecard-form {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 10px 20px 20px -10px rgb(154 154 214);
  margin-bottom: 20px;
}

.edit-hole-score {
  width: 30px;
  padding-right: 0;
}

.scorecard-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  padding-inline-start: 50px;
}

.scorecard-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scorecard-heading h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.scorecard-grid {
  margin-top: 10px;
}

.scorecard-grid .score-update input{
  width: 25px;
}

.scorecard-grid .score-update input.player-name-edit{
  width: 120px;
}

.scorecard-grid .score-update input.hole-score{
  text-align: right;
  padding-left: 10px;
}

.scorecard-item {
  background-color: white;
  width: auto;
  height: max-content;
  box-shadow: 10px 20px 20px -10px rgb(154 154 214);
  border-radius: 6px;
  padding: 10px;
  margin-bottom:20px;
}

.add-players {
  display: flex;
  flex-direction: column;
}

.add-player-button {
  margin: 10px 0px
}

.holes-heading {
  text-align: center;
}

.course-heading, .tee-heading {
  margin-bottom: 0;
  margin-top: 0;
}

.distance-heading {
  margin-top: 0;
  margin-bottom: 5px
}

.hole-col {
  width: 30px;
  text-align: center;
  border-bottom:0.5px solid black;
}

.score-col {
  text-align: center;
}

.course-heading, .tee-heading, .distance-heading {
  color: gray;
  font-size: 12px;
  text-align: right;
}
.course-heading2, .tee-heading2, .distance-heading2 {
  color: black;
  font-size: 16px;
  vertical-align: super;
}

.player-col {
  border-bottom: 0.5px solid black;
  color: gray;
  font-size: 12px;
}

.player-name-col, th.player-col {
  text-align: right;
  border-right: 0.5px solid black;
  padding-right: 5px;
}

.player-name-col {
  color:black;
  font-size: 14px;
  font-weight: bold;
  
}

.headings-table {
  margin-left: 50px;
}

.delete-button {
  background-color: red;
  color: white;
}

.edit-button {
  background-color: blue;
  color: white;
}

