body {
  background-color: rgb(181, 181, 221)
}

.scorecard-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 10px 20px 20px -10px gray;
  margin-bottom: 20px;

}

.scorecard-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  padding-inline-start: 50px;
}

.scorecard-item {
  background-color: white;
  width: auto;
  height: fit-content;
  box-shadow: 10px 20px 20px -10px gray;
  border-radius: 6px;
  padding: 10px;
  margin-bottom:20px;
}

.holes-heading {
  text-align: center;
}

.course-heading, .tee-heading {
  margin-bottom: 0;
  margin-top: 0;

}

.distance-heading {
  margin-top: 0;
  margin-bottom: 5px
}

.hole-col {
  width: 30px;
  text-align: center;
  border-bottom:1px solid black;
}

.score-col {
  text-align: center;
}

.player-col {
  padding-right: 10rem;
}